<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="<?php echo $this->var['const']['charset']; ?>">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<title>新增密钥</title>
<link href="<?php echo $this->var['const']['path']; ?>client/view/admin/css/form.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/jquery.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/pack/layer/layer.js"></script>
<script type="text/javascript" src="<?php echo $this->var['const']['path']; ?>client/view/admin/js/buy.js"></script>
</head>
<body>
	<div class="clearfix">
		<div class="panel-body">
			<div class="builder formbuilder-box">
				<div class="builder-tabs">
					<div class="row">
						<div class="col-xs-12">
							<ul class="nav nav-tabs">
								<li><a href="<?php echo $this->var['const']['path']; ?>index.php/admin/buy">密钥列表</a></li>
								<li class="active"><a>新增密钥</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<div class="builder-container">
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal form-builder" onsubmit="lib.add('<?php echo $this->var['const']['path']; ?>', '<?php echo $_COOKIE['account']; ?>');return false">
								<div class="form-type-list">
									<div class="form-group">
										<label class="left control-label">积分类型：</label>
										<div class="right">
											<select class="form-control select" name="buy_type">
												<option value="1">蓝钻</option>
												<option value="2">金豆</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="left control-label">积分数量：</label>
										<div class="right">
											<input class="form-control input" type="text" name="buy_point" placeholder="不能超过八位数">
										</div>
									</div>
									<div class="form-group"><hr /></div>
									<div class="form-group bottom_button_list">
										<button type="submit" class="btn btn-primary">新增</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>